@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap');
.btn-primary:hover {
  background-color: #005a8a !important;
}
.btn-primary,
.btn-secondary,
.btn-danger,
.btn-light {
  font-weight: 600 !important;
  text-decoration: none !important;
}
.decoration-none {
  text-decoration: none !important;
}
$primary: #00334f;

$btn-hover-bg-tint-amount: 50%;
$font-family-sans-serif: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
// $btn-font-size: 0.75rem;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;
